
@font-face {
    font-family: "Minecraft";
    src: url("./fonts/MinecraftRegular-Bmg3.otf");
}

body {
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    background-image: url(./img/dirt_bg.webp);
    background-size: cover;
}

.small_sep {
    height: 0.5em;
}

.origin {
    background-color: #8b8b8b;
    border-radius: 1em;
    border: 0.2em solid #555555;
    padding: 1em;
    width: 460px;
    margin: 10px;
}

.origin_list {
    display: flex;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.origin_layer_title {
    text-align: center;
    font-size: 4em;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.origin_name_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #B48712;
    border-radius: 0.5em;
    padding: 0.15em;
}

.origin_name_bar h1 {
    margin-left: 0.1em;
}

.full_width {width: 100%;}

.origin_orb_holder {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.orb {
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    border: #000000 solid 0.1em;
    margin: 0.1em;
}

.impact0 {
    background-color: #8b8b8b;
}

.impact1 {
    background-color: green;
}

.impact2 {
    background-color: rgb(255, 213, 0);
}

.impact3 {
    background-color: rgb(255, 0, 0);
}

.origin_name_bar h1 {
    white-space: nowrap;
}